.Weather {
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  color: #878787;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}
